/* Error: expected ";".
 *     ,
 * 147 |       background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-arrow-right.png);
 *     |                       ^
 *     '
 *   styles\hiring.scss 147:23  @import
 *   styles\index.scss 13:9     root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected ";".\a     \2577 \a 147 \2502        background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-arrow-right.png);\d\a     \2502                        ^\a     \2575 \a   styles\\hiring.scss 147:23  @import\a   styles\\index.scss 13:9     root stylesheet';
}
