@import 'variables.scss';

.action-button {
  background-color: $color-blue;
  color: $color-white;
  width: 160px;
  height: 48px;
  border-radius: $border-radius;
  border: none;
  font-size: 18px;
  font-weight: 700;

  @include for-large-up {
    width: 100%;
  }
}

.hide_mobile {
  @include for-large-down {
    display: none;
  }
}

.hide_desctop {
  @include for-large-up {
    display: none;
  }
}
