.logo {
  display: flex;

  &__image {
    width: 48px;
    height: 48px;
    margin-right: 13px;

    @include for-large-up {
      width: 60px;
      height: 60px;
      margin-right: $unit;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__name {
    font-size: $popular-font-size - 2;
    line-height: 25px;
    font-weight: 700;
  }

  &__description {
    font-size: 18px;
    line-height: 25px;
    color: $text-color-light-gray;
  }

  &_footer {
    @include for-large-down {
      display: none;
    }
  }
}

.logo-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include for-large-up {
    display: none;
  }

  &__image {
    width: 60px;
    height: 60px;
  }

  &__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    margin-top: 20px;
  }

  &__description {
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: $text-color-light-gray;
  }
}
