$color-light-coral: rgba(243, 198, 189, 1);
$color-blue: rgba(48, 64, 196, 1);
$color-light-blue: rgba(0, 161, 198, 0.07);
$color-white: rgba(255, 255, 255, 1);
$color-dark: rgba(0, 0, 0, 1);
$color-yellow-light: rgba(252, 240, 227, 1);
$color-light: rgba(244, 245, 247, 1);
$color-light-grey: rgba(227, 227, 227, 1);
$color-opacity-gray: rgba(43, 41, 45, 0.15);
$color-footer-line: rgba(43, 41, 45, 0.1);
$color-card-hover: rgba(49, 65, 197, 1);
$color-dots: rgba(43, 41, 45, 0.2);
$color-dots-selected: rgba(49, 66, 197, 1);
$color-grey: rgba(213, 212, 213, 1);

$text-color-green: rgba(0, 155, 77, 1);
$text-color-light-gray: rgba(43, 41, 45, 0.6);
$text-color-dark: rgba(43, 41, 45, 1);
$text-color-blue: rgba(49, 66, 198, 1);
$text-color-light-blue: rgba(1, 137, 209, 1);
$text-color-red: rgba(241, 89, 43, 1);
$border-color: rgba(43, 41, 45, 0.2);
$border-color-blue: rgba(1, 133, 208, 1);
$border-color-grey: rgba(0, 0, 0, 0.15);

$unit: 15px;

$desktop-width: 1140px;
$border-radius: 2px;
$popular-font-size: 22px;
$popular-line-height: 34px;
